/* reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

main {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 20px; }

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }
  .contact-form fieldset {
    border: none;
    padding: 0;
    margin-bottom: 20px; }
    .contact-form fieldset legend {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 20px; }
  .contact-form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px; }
    .contact-form .form-group label {
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px; }
    .contact-form .form-group input[type="text"], .contact-form .form-group input[type="email"], .contact-form .form-group textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px; }
  .contact-form .form-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 6em; }
    .contact-form .form-buttons input[type="submit"], .contact-form .form-buttons input[type="reset"] {
      padding: 8px 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      margin-left: 10px; }
      .contact-form .form-buttons input[type="submit"]:last-child, .contact-form .form-buttons input[type="reset"]:last-child {
        background-color: #f44336; }
  .contact-form textarea {
    border: 1px solid #ccc; }

.home {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center; }

.navbar-nav li {
  position: relative; }
  .navbar-nav li a {
    transition: color 0.3s; }
    .navbar-nav li a:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #333;
      transform: scaleX(0);
      transition: transform 0.3s; }
    .navbar-nav li a:hover {
      color: #333; }
      .navbar-nav li a:hover:after {
        transform: scaleX(1); }

.hero {
  background-color: #f2f2f2;
  padding: 50px 0; }
  .hero h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px; }
  .hero p {
    font-size: 18px;
    color: #666; }

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0; }
  footer p {
    font-size: 14px;
    margin: 0; }
  footer .footer-content {
    text-align: center; }

.payment-methods {
  margin-top: 5px;
  text-align: center; }
  .payment-methods .payment-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px; }
    .payment-methods .payment-icons .payment-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .payment-methods .payment-icons .payment-icon img {
        width: 60px;
        height: auto; }

.btn-primary {
  background-color: gray !important;
  border-color: gray !important;
  color: white !important; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #9b8d8d !important;
  border-color: gray !important;
  color: white !important; }

.products {
  padding: 50px 0; }
  .products h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; }
  .products .card {
    margin-bottom: 20px; }
    .products .card .card-img-top {
      max-height: 200px;
      object-fit: cover; }
    .products .card .card-title {
      font-size: 20px;
      color: #333;
      margin-bottom: 10px; }
    .products .card .card-text {
      font-size: 16px;
      color: #666; }
    .products .card:hover {
      transform: translateY(-5px);
      transition: transform 0.3s ease; }

@media (max-width: 576px) {
  .hide-on-mobile {
    display: none; } }

@media (max-width: 768px) {
  .hide-on-tablet {
    display: none; } }

@media (min-width: 992px) {
  .hide-on-desktop {
    display: none; } }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; }

.conocenos {
  text-align: center;
  margin-bottom: 40px; }

.about, .team {
  margin-bottom: 40px; }

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center; }

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover; }

.card-body {
  padding: 20px; }

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px; }

.card-text {
  font-size: 1rem; }

.card-link {
  text-decoration: none;
  color: inherit; }

.ubicacion-page .tienda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px; }
  .ubicacion-page .tienda h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px; }
  .ubicacion-page .tienda iframe {
    width: 100%;
    height: 200px;
    border: 0;
    border-radius: 8px; }
  .ubicacion-page .tienda:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease; }

@media (max-width: 767px) {
  .ubicacion-page .mobile-hide {
    display: none; } }
